a[class^='btn-'],
button {
  @include mQ($small) {
    min-width: 140px;
  }

  color: $color-white;
  outline: none;
  border: 0;
  outline: 1px solid $color-primary-btn;
  padding: 10px;
  font-weight: 700;
  min-width: 150px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  @include transition();
  position: relative;
  color: $color-primary-text;

  &:focus {
    border: var(--focus);
  }

  a {
    color: $color-white;
  }

  &:last-child {
    margin: 0;
  }
}

button.details-btn:last-child {
  margin-right: 10px;
}

a.btn-primary {
  text-decoration: none;
  text-align: center;
  padding: 7px;
  min-height: 35px;

  &:hover {
    color: $color-white;
  }
}

.btn-primary {
  background-color: $color-primary-btn;
  color: $color-white;

  &:hover {
    background-color: $color-primary-btn-hover;
  }
}
.btn-close {
  // @include rotate($deg: 45deg);
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 23px;

  &:after {
    content: '+';
    @include rotate($deg: 45deg);
  }
}
.btn-danger {
  background-color: $color-danger;

  &:hover {
    background-color: $color-danger-hover;
  }
}

.btn-rounded {
  background-color: $color-primary-btn;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;

  &:hover {
    background-color: $color-primary-btn-hover;
  }
}
