$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #f5f6f6;
$color-gray: #e1e1e1;

$color-primary: #373737;
$color-primary-text: #272726;

$color-secondary: #174a40;

$color-primary-btn: #175451;
$color-primary-btn-hover: #464b5f;
$color-info: #286176;
$color-danger: #a71b1b;
$color-danger-hover: #d20917;

$color-primary-text: $color-black;
$color-primary-link: #464b5f;

$color-secondary: $color-gray-light;

// #D96500 // orange
//  #CFD0D5 light gray
