@font-face {
  font-family: 'neue_haas_grotesk_disp55roman';
  src:
    url('/fonts/neuehaasdisplayroman-webfont.woff2') format('woff2'),
    url('/fonts/neuehaasdisplayroman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neue_haas_grotesk_display45Lt';
  src:
    url('/fonts/neuehaasdisplaylight-webfont.woff2') format('woff2'),
    url('/fonts/neuehaasdisplaylight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-primary: neue_haas_grotesk_disp55roman, sans-serif;
$font-secondary: neue_haas_grotesk_display45Lt, sans-serif;
