input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset;
}
form {
  position: relative;
  margin-bottom: 20px;

  .error {
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    color: $color-danger;
  }

  .input-error {
    border-left: 5px solid $color-danger;
    background-color: $color-gray-light;

    & ~ label {
      top: -8px;
    }
  }
}

.form-footer {
  width: 100%;
  text-align: right;
}

.item.active,
.item:hover {
  background: #d3d3d33b;
}

input,
select,
textarea {
  width: 100%;
  padding: 9px;

  border: 1px solid $color-primary;
  background-color: $color-white;
  margin: 25px 0;
  color: $color-primary;
  outline: none;
  font-family: $font-secondary;

  &:focus {
    background-color: $color-gray-light;
  }
}

input[type='radio'] {
  margin-right: 10px;
}

fieldset {
  border: 1px solid #ddd;
  margin: 10px 0;
}

.input-wrapper {
  position: relative;

  .icon-x {
    padding: 0;
  }
}

.required {
  &:after {
    content: '*';
    color: $color-danger;

    position: absolute;
    top: 0;
    right: -9px;
  }
}
