.grid {
  display: grid;
  gap: 28px;
}

.grid-col-5 {
  grid-template-columns: 48px repeat(5, 1fr);
}

.col-start-2 {
  grid-column-start: 2;
}
.col-start-3 {
  grid-column-start: 3;
}
.col-start-4 {
  grid-column-start: 4;
}

.pr-40 {
  padding-right: 40px;
}

fieldset {
  border: none;
  padding: 0;
}
legend {
  float: left;
}
