.grid {
  display: grid;
  gap: 28px;
}

.test {
  grid-template-columns: repeat(5, 1fr);
  min-width: 700px;
}
.test1 {
  grid-template-columns: 48px repeat(2, 1fr);
  margin-bottom: 12px;
}

.col-start-2 {
  grid-column-start: 2;
}
.col-start-3 {
  grid-column-start: 3;
}

.pr-40 {
  padding-right: 40px;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}
legend {
  float: left;
}
