@mixin mQ($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin arrow($size: 20px, $color: green) {
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: $size;
  border-top-color: $color;
}

@mixin circle($size: 20px) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
}

@mixin triangle($size: 20px, $color: $color-primary-link, $dir: up) {
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: $size;

  @if $dir==down {
    border-top-color: $color;
  } @else if $dir==up {
    border-bottom-color: $color;
  } @else if $dir==left {
    border-left-color: $color;
  } @else if $dir==right {
    border-right-color: $color;
  }
}

@mixin chevron($size: 7px, $weight: 1px, $color: $color-primary, $dir: up) {
  width: $size;
  height: $size;
  border: $weight solid $color;
  display: inline-block;

  @include rotate(45deg);

  @if $dir==up {
    border-bottom: transparent;
    border-right: transparent;
  } @else if $dir==down {
    border-top: transparent;
    border-left: transparent;
  } @else if $dir==right {
    border-bottom: transparent;
    border-left: transparent;
  } @else if $dir==left {
    border-top: transparent;
    border-right: transparent;
  }
}

@mixin border($direction, $color: $color-border) {
  border-#{$direction}: 1px solid $color;
}

@mixin borderRadius($top: 2px, $right: 2px, $bottom: 2px, $left: 2px) {
  border-radius: $top $right $bottom $left;
}

@mixin rotate($deg: 45deg) {
  transform: rotate($deg);
}

@mixin opacity($opacity: 0.8) {
  filter: alpha(opacity=80);
}

@mixin inline($width: 50%) {
  display: inline-block;
  width: $width;
}

@mixin flexbox(
  $wrap: wrap,
  $justify-content: flex-start,
  $flex-direction: column
) {
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin flex($values: 1, $margin: 30px) {
  flex: $values;
  margin-right: $margin;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  @include mQ($medium) {
    margin-right: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  transition: $what $time $how;
}
