$burgerColor: $color-primary-link;
$burgerColorActive: $color-primary-link;

.menu-btn-wrapper {
  position: fixed;
  z-index: 200;
  right: 0;
  width: 70px;
  min-width: 70px;
  height: 50px;
  align-items: flex-end;
  cursor: pointer;
  display: none;
  background: none;

  @include mQ($small) {
    display: flex;
  }
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;

  @include transition();
}

.menu-btn-burger {
  width: 37px;
  height: 3px;
  background-color: $burgerColor;
  border-radius: 5px;
  @include transition();

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: $burgerColor;
    border-radius: inherit;
    @include transition();
  }

  &:before {
    transform: translateY(-8px);
  }

  &:after {
    transform: translateY(8px);
  }
}

/* ANIMATION */
.open-nav {
  .menu-btn {
    right: 0;
  }

  .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;

    &:before,
    &:after {
      background-color: $burgerColorActive;
      width: 20px;
    }

    &:before {
      transform: rotate(45deg) translate(35px, -35px);
    }

    &:after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
}
