$burgerColor: $color-gray;
$burgerColorActive: $color-primary;

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.open-nav {
  @include transition();

  &.main-nav {
    @include mQ($small) {
      right: 0;
      background-color: rgba(245, 246, 246, 0.9);
    }
  }
}

.main-nav {
  width: 100%;
  font-size: 24px;

  .nav-container {
    display: flex;
    justify-content: flex-end;
  }

  // @include mQ($small) {
  //   text-align: left;
  //   @include transition();
  //   position: fixed;
  //   right: -200px;
  //   top: 0;
  //   width: 200px;
  //   height: 100%;
  //   z-index: 20;
  // }

  .nav-item {
    margin-right: 10px;
    &:last-child {
      margin: 0;
    }

    a {
      color: $color-primary-link;
      &.active {
        color: $color-primary-link-hover;
      }
    }

    @include mQ($small) {
      margin: 20px;
      display: block;
    }
  }
}
