.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // min-height: fill-available;
  // min-height: -webkit-fill-available;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
.main-container {
  min-height: 100vh;
}

.main-footer {
  background-color: #121417;
  color: #f9fafb;
}
.main-header {
  .logo-container {
    position: relative;
    width: fit-content;
  }
  .logo {
    font-size: 4.125rem;
    font-weight: bold;
  }
  .header-tag {
    position: absolute;
    right: 34px;
    top: 60px;
    font-size: 34px;
  }
}
