.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0 14px;
}

.main-content-container {
  display: flex;
  flex-grow: 1;
  gap: 30px;
}

.main-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.aside {
  display: flex;
  line-height: 22px;

  .vertical-line-container {
    width: 56px;
    display: flex;
    flex-direction: column;
    height: 160px;
    margin-right: 20px;
    position: relative;
  }

  .vertical-line {
    border-left: 1px solid;
    border-color: inherit;
    position: absolute;
    height: 100%;

    &:last-child {
      right: 0;
    }
  }

  h1 {
    line-height: sizeRem(28);
  }
}

.main-header {
  margin-top: 20px;
  min-height: 150px;
  width: 100%;

  .logo-container {
    position: relative;
    width: fit-content;
  }
  .logo {
    font-size: 4.125rem;
    font-weight: bold;
    letter-spacing: -3px;
    font-family: $font-secondary;
  }
  .header-tag {
    position: absolute;
    right: sizeRem(34);
    bottom: sizeRem(-23);
    font-size: sizeRem(35);
    font-family: calibri;
    letter-spacing: -1px;
  }
}
.main-content {
  flex-grow: 1;
  line-height: 22px;
}

.main-footer {
  .container {
    justify-content: flex-end;
  }
  .copyright {
    border-bottom: 1px solid #d96500;
    display: flex;
    width: 150px;
    justify-content: flex-end;
    padding-bottom: 8px;
  }
}
