* {
  box-sizing: border-box;
}

:root {
  --focus: 1px dotted #000000;
}

ul {
  list-style: none;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: sizeRem(16);
  font-family: $font-primary;
  color: $color-primary;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #333333;
    color: #f5f5f5;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: sizeRem(30);
  font-weight: 100;
  margin-bottom: 10px;
  font-family: neue_haas_grotesk_disp55roman;
}

h2 {
  font-size: sizeRem(16);
  font-family: $font-primary-bold;
}

img {
  width: 100%;
}

a {
  color: $color-primary-btn;
  text-decoration: none;

  &:focus {
    outline: var(--focus);
    border: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.text-bold {
  font-weight: 700;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

svg {
  width: sizeRem(20);
}
