* {
  box-sizing: border-box;
}

:root {
  --focus: 1px dotted #000000;
}

ul {
  list-style: none;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: $font-primary;

  color: $color-primary;
  background-color: #fefeff;
}

img {
  width: 100%;
}

a {
  color: $color-primary-btn;
  text-decoration: none;

  &:focus {
    outline: var(--focus);
    border: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.text-bold {
  font-weight: 700;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

svg {
  width: 20px;
}

.container {
  max-width: 1600px;
  padding: 20px;
  margin: 0 auto;
}
