@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@font-face {
  font-family: 'openSans';
  src: url('/public/fonts/OpenSans-Regular.ttf');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'walkway';
  src: url('/public/fonts/walkway_expand_bold-webfont.eot');

  font-weight: normal;
  font-style: normal;
}

$font-primary: open sans, sans-serif;
$font-secondary: walkway, sans-serif;

$font-logo: 'Poiret One', cursive, sans-serif;
