@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@font-face {
  font-family: 'manrope';
  src: url('/public/fonts/Manrope-Regular.ttf');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'manrope-semiBold';
  src: url('/public/fonts/Manrope-SemiBold.ttf');

  font-weight: bold;
  font-style: normal;
}

$font-primary: manrope, sans-serif;
$font-secondary: manrope-semiBold, sans-serif;
